/* Basic reset for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the body takes full height */
}

/* Center the form container */
.Form-container {
    display: block;
    background-color: #fff; /* Form background */
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px; /* Max width of the form */
    width: 100%; /* Make sure it doesn't go beyond 100% */
}

/* Form elements styling */
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2196F3;
}

/* Input fields styling */
input[type="text"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #2196F3;
}



/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
